<header>
	<h1>Portfolio</h1>
</header>
<div id="gridize" class="two">
	<ul>
		<li><a href="http://git.joahg.com/Beaver-Words/" data-img="/assets/beaverwords.jpg" data-about="Game Off 2012 project. Built with <a target='_blank' href='http://gracenut.github.io'>Haley Higgins</a>.">Beaver Words</a></li>

		<li><a href="http://git.joahg.com/bibleRef.js/" data-img="/assets/biblerefjs.jpg" data-about="Javascript script to detect Bible references and link to a website where they may be read online.">bibleRef.js</a></li>

		<li><a href="http://sarah.gbergfamily.com" data-img="/assets/sarahs_desk.png" data-about="Blog built for my sister.">Blog</a></li>

		<li><a href="http://git.joahg.com/HTML-Calculator/" data-img="/assets/calculator.png" data-about="HTML/CSS/JS Calculator I built for a <a href='http://codecademy.com' target='_blank'>Codecademy</a> project.">Calculator</a></li>

		<li><a href="http://ccmodstimeapp.git.joahg.com/" data-img="/assets/ccmodstimeapp.png" data-about="Time management application made for the <a href='http://codecademy.com'>Codecademy</a> Moderators.">Codecademy Moderators App</a></li>

		<li><a href="http://beta.engagesetx.com" data-img="/assets/engagesetx.png" data-about="Website made for ENGAGE SETX homeschool political group. (Under Construction)">ENGAGE SETX</a></li>

		<li><a href="http://gbergfamily.com" data-img="/assets/gbergfamily.png" data-about="Website made for my family. Built on Skeleton.">GbergFamily</a></li>

		<li><a href="http://jsrepl.git.joahg.com/" data-img="/assets/jsrepl.png" data-about="Personal project. A JavaScript <a href='http://en.wikipedia.org/wiki/Read%E2%80%93eval%E2%80%93print_loop'>REPL</a> built on Ruby on Rails.">JSREPL</a></li>

		<li><a href="http://lifecarefamily.com" data-img="/assets/lifecarefamily.png" data-about="Website made for Lifecare Family Medicine.">Lifecare Family</a></li>

		<li><a href="http://git.joahg.com/HTML-Mastermind/" data-img="/assets/mastermind.png" data-about="HTML/CSS/JS Mastermind game I built for a <a href='http://codecademy.com' target='_blank'>Codecademy</a> project.">Mastermind</a></li>

		<li><a href="https://rubygems.org/gems/obfuscatejs" data-img="/assets/obfuscatejs.png" data-about="Ruby gem for simple string obfuscation in Rails views.">Obfuscatejs</a></li>

		<li><a href="http://popcornwebdev.com" data-img="/assets/popcornwebdev.png" data-about="Website I built for <a target='_blank' href='http://gracenut.github.io'>Haley Higgins</a> and my Web Development business.">Popcorn Web Development</a></li>

		<li><a href="http://ridgewoodchurch.us" data-img="/assets/ridgewood.png" data-about="Charity website made for Ridgewood Church. Built with <a target='_blank' href='http://gracenut.github.io'>Haley Higgins</a>.">Ridgewood Church</a></li>

		<li><a href="http://terryholcomb.com" data-img="/assets/terryholcomb.png" data-about="Website made for Terry Holcomb campaign for Texas State Representative 18.">Terry Holcomb</a></li>

		<li><a href="http://go.joahg.com" data-img="/assets/urlshortener.png" data-about="Personal project. Built on Skeleton.">URL Shortener</a></li>
	</ul>
</div>


<script>
	$(document).ready(gridize());
</script>