<% if current_user && current_user.admin? %>
	<header>
		<h1>
			Edit Post
		</h1>
	</header>

	<div>
		<%= render "form" %>
	</div>
<% else %>
	<script>
		window.location.href = "/admin"
	</script>
<% end %>