<header>
	<h1> Posts tagged "<%= params[:tag] %>" </h1>
</header>

<div class="posts-previews">
	<% if @posts.length > 0 %>
		<%= render "previews", :posts => @posts %>
	<% else %>
		Sorry! I haven't written a post yet about "<%= params[:tag] %>", why don't you <a href="mailto:me@joahg.com">email me</a> an idea that I can write about!
	<% end %>
</div>